/*
	CSS for the plugin

 */
.mark-reg-form{
	font-size: 15px;
}	.mark-reg-form .field-row{
		margin: 0 22.8px 40px 0;
		display: inline-block;
		width: 32%;
		vertical-align: top;
	}	.mark-reg-form .body .field-row:nth-child(3n){
			margin-right: 0;
		}

.mark-reg-form input[type="text"],
.mark-reg-form input[type="email"],
.mark-reg-form input[type="number"],
.mark-reg-form input[type="date"],
.mark-reg-form textarea,
.mark-reg-form select,
.mark-reg-form input[type="submit"]{
	border:1px solid #ccc;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	background: #fff;
	color: #000;
	box-sizing: border-box;
}

.mark-reg-form textarea{
	height: 200px;
}

.mark-reg-form select,
.mark-reg-form input[type="date"]{
	height: 45px;
}

.mark-reg-form input[type="submit"]{
	border-radius: 10px;
	background: #eb6a4b;
	border:1px solid #eb6a4b;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 17px;
	margin-top: 25px;
}

.mark-reg-form input:focus:not([type="submit"]),
.mark-reg-form textarea:focus,
.mark-reg-form select:focus{
	border-color: #3498db;
}

.mark-reg-form .req:before{
	content: '*';
	color: #f00;
	font-weight: bold;
}

.mark-reg-form input.error,
.mark-reg-form select.error,
.mark-reg-form textarea.error{
	border-color: #f00;
	background: rgb(255,0,0);
	background: rgba(255,0,0,0.2);
}

.mark-reg-form label.error{
	display: none!important;
	/*display: none;*/
}

.mark-reg-form .html-display{
	margin-top: 20px;
}

.mark-reg-form-msg{
	background: #39B54A;
	padding: 20px;
	margin-bottom: 50px;
	border-radius: 10px;
	color: #fff;
}	.mark-reg-form-msg{
		line-height: normal;
		margin:0 auto 20px;
	}
	.mark-reg-form-error{
		background: rgb(255, 0, 0);
		background: rgba(255, 0, 0, 0.8);
	}	.mark-reg-form-msg ul,
		.mark-reg-form-msg ul li:last-child{
			margin-bottom: 0;
		}
		.mark-reg-form-error li{
			font-weight: bold;
		}

.mark-reg-form input[type="submit"][disabled]{
	display: none;
}

.mark-reg-form input:not([type="submit"])[disabled],
.mark-reg-form select[disabled]{
	background: #fafafa;
	border:0;
	border-bottom: 1px solid #eee;
	border-radius: 0;
	padding:10px 0;
}

.mark-reg-form-submitted-success .req:before{
	content: ':';
	color: inherit;
}

.mark-reg-form option[disabled]{
	color: #ddd;
}



.mark-reg-form-mask{
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.5) url(//media.enderuncolleges.com/images/ajax-loader.gif) 50% no-repeat;
	/*position: absolute;*/
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 999999;
	display: none;
}

.mark-reg-form .field ul{
	list-style: none;
	padding-left: 10px;
}	.mark-reg-form .field li input{
		margin-right: 10px;
	}	.mark-reg-form .field li label{
			font-weight: normal;
		}


/*.mark-reg-form .field.error li{*/
.mark-reg-form .error li{
	color: #f00;
}


/*.row-align-bottom{
	position: relative;
}	.row-align-bottom > div{
		vertical-align: bottom;
	}*/
